# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
# ================ #
# iOS build folder #
# ================ #
iOSEscape14/
#==================#
# Project Specific #
#==================#
*/Icon\r.meta
Icon?
Assets/Plugins/UnityPurchasing/Icons.meta
build_info.txt
escape14.apk
iOS_E14
